.cart_section {
  display: flex;
  justify-content: space-evenly;
}
.cart_myCart > ul {
  list-style: none;
  padding: 0;
  max-height: 76vh;
  overflow-y: auto;
}
.cart_myCart > ul::-webkit-scrollbar {
  display: none;
}
.cart_myCart {
  flex: 2;
}
.cart_myCart > h4 {
  text-align: center;
}
.cart_orderSummary {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart_empty {
  width: 100vw;
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
