.contactUs_section {
  display: flex;
  background-color: rgb(247, 247, 247);
  margin: 8rem 5rem;
}
.contactUs_section > form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
}
.contactUs_image {
  flex: 1;
}
.contactUs_section > form button {
  background-color: black;
  width: 100%;
  margin-top: 50px;
}
.contactUs_section > form :nth-child(1) {
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .contactUs_section {
    margin: 5rem 1rem;
  }
  .contactUs_section > form {
    padding: 0 1rem;
  }

  .contactUs_image {
    width: 50%;
  }
  .contactUs_image > img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
  .contactUs_section > form :nth-child(1) {
    margin: 5px 0;
  }
  .contactUs_section > form p {
    margin: 0;
  }
}
